.castleLearningSection
{
	background-color: #fcdda2;
	height: 500px;
	width: 100%;
	border-left: 10px solid #cc9600;
	cursor: pointer;
}
.chemDivCSS, .extraDivCSS, .physicsDivCSS, .livingDivCSS
{
	font: bold 18pt calibri light;
	padding-left: 2px;
	border: 2px solid #e3e3e3;
}
.chemDivCSS
{
	border-left: 50px solid #ff872b;
	background-color: #ffbc8a;
}
.crtCSS, .chemCalcCSS, .studyGuideChemCSS, .ociToolCSS, .discordHWCSS, .googleClassroomCSS, .sayvilleGuideCSS, .livingLabCSS, .livingStudyGuideCSS
{
	font: 18pt georgia;
	display: inline-block; /* Gets rid of the inline span headache */
	width: 33%;
	text-align: center;
	background-color: transparent;
}
.crtCSS:hover, .chemCalcCSS:hover, .studyGuideChemCSS:hover
{
	background-color: #ffdab5;
}
.extraDivCSS
{
	border-left: 50px solid #8359ff;
	background-color: #ab8fff;
}
.ociToolCSS:hover, .discordHWCSS:hover, .googleClassroomCSS:hover
{
	background-color: #cbbaff;
}
.physicsDivCSS
{
	border-left: 50px solid #36f8ff;
	background-color: #69faff;
}
.physicsReferenceTableCSS, .betterPhysicsReferenceTableCSS, .physicsCalcCSS, .physicsStudyGuidesCSS
{
	font: 18pt georgia;
	display: inline-block;
	width: 25%;
	text-align: center;
	background-color: transparent;
}
.physicsReferenceTableCSS:hover, .betterPhysicsReferenceTableCSS:hover, .physicsCalcCSS:hover, .physicsStudyGuidesCSS:hover
{
	background-color: #b3fcff;
}
.livingDivCSS
{
	border-left: 50px solid #28e044;
	background-color: #63ff7b;
}
.sayvilleGuideCSS:hover, .livingLabCSS:hover, .livingStudyGuideCSS:hover
{
	background-color: #b0ffbc;
}