.quizletSectionCSS
{
	background-color: #385fba;
	width: 10%;
	position: absolute;
	left: 90%;
	top: 10%;
	border-left: 3px solid #cfcfcf;
	color: white;
	overflow-wrap: normal;
}
.childrenCSS 
/*Doing Children so we can fit with the other CSS we have */
{
	font: 18pt comic sans ms;
	border-top: 2px solid white;
	cursor: pointer;
}
.childrenCSS:hover
{
	border: 10pt outset gold;
}