.deltamathSection
{
	position: absolute;
	background-color:#f7f3f2;
	width: 25%;
	height: 100%;
	border-left: 10px solid #dce0dc;
	left: 75%;
	top: 8%;
}
.desmosCSS, .MathwayCSS, .symbolabStatsCSS, .symbolabGeometryCSS, .discordHWCSS, .scientificCalculatorCSS
{
	font: 18pt calibri light;
	background: transparent;
	color: black;
	border-bottom: 2px solid #dce0dc;
	border-top: : 2px solid #dce0dc;
	padding: 3px;
	cursor: pointer;
}
.desmosCSS
{
	border-left: 30px solid #30b31e;

}
.desmosCSS:hover
{
	background-color: #b9fabb;
}
.MathwayCSS
{
	border-left: 30px solid #f573f3;
}
.MathwayCSS:hover
{
	background-color: #fab9f9;
}
.symbolabStatsCSS
{
	border-left: 30px solid #f7a463;
}
.symbolabStatsCSS:hover
{
	background-color: #fac0a7;
}
.symbolabGeometryCSS
{
	border-left: 30px solid #ffc014;
}
.symbolabGeometryCSS:hover
{
	background-color: #fce39f;
}
.discordHWCSS
{
	border-left: 30px solid #a836ff;
}
.discordHWCSS:hover
{
	background-color: #d6a7fa;
}
.scientificCalculatorCSS
{
	border-left: 30px solid #2e43ff;
}
.scientificCalculatorCSS:hover
{
	background-color: #c2c8ff;
}